In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('def_scoring_proj.csv')

In [4]:
df.head()

,"PLAYER, TEAM POS",team_abbr,week_2_opp,week_2_proj,week_2_actual,week_3_opp,week_3_proj
0,Jets D/ST D/ST,NYJ,Mia,4.9,10,Cle,5.2
1,Vikings D/ST D/ST,Min,GB,6.4,2,Buf,13.2
2,Ravens D/ST D/ST,Bal,Cin,6.1,-2,Den,6.7
3,Rams D/ST D/ST,LAR,Ari,7.6,11,LAC,6.8
4,Bears D/ST D/ST,Chi,Sea,5.9,19,Ari,6.5

In [5]:
high = df['week_3_proj'].max()
print(high)
low = df['week_3_proj'].min()
print(low)
mean = df['week_3_proj'].mean()
print(mean)

13.2
1.5
5.796874999999999

In [6]:
#create bins from range of over unders
bins = [(low-.5), ((low+low+mean)/3), ((low+mean+mean)/3), ((high+mean+mean)/3), ((high+high+mean)/3), (high+.5)]
df['binned'] = pd.cut(df['week_3_proj'], bins)
df.head()

,"PLAYER, TEAM POS",team_abbr,week_2_opp,week_2_proj,week_2_actual,week_3_opp,week_3_proj,binned
0,Jets D/ST D/ST,NYJ,Mia,4.9,10,Cle,5.2,"(4.365, 8.265]"
1,Vikings D/ST D/ST,Min,GB,6.4,2,Buf,13.2,"(10.732, 13.7]"
2,Ravens D/ST D/ST,Bal,Cin,6.1,-2,Den,6.7,"(4.365, 8.265]"
3,Rams D/ST D/ST,LAR,Ari,7.6,11,LAC,6.8,"(4.365, 8.265]"
4,Bears D/ST D/ST,Chi,Sea,5.9,19,Ari,6.5,"(4.365, 8.265]"

In [8]:
df['binned'].value_counts()

(4.365, 8.265]     24
(2.932, 4.365]      5
(10.732, 13.7]      1
(8.265, 10.732]     1
(1.0, 2.932]        1
Name: binned, dtype: int64

In [9]:
#convert binned values to string so we can categorize with adjectives
df['binned'] = df['binned'].map(lambda x: str(x))

In [10]:
df['binned'].iloc[0]

'(4.365, 8.265]'

In [ ]:
#create adjectives from bins
score_bins = {
    '(10.732, 13.7]': 'Terrible',
    '(8.265, 10.732]': 'Concerned',
    '(4.365, 8.265]': 'Neutral',
    '(2.932, 4.365]': 'Good',
    '(52.479, 56.5]': 'Awesome'
}